@import '../../scss/variables';

.cart {
}

.container {
  margin: 0 auto;
  width: 832px;
}

.cartTop {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 54px 0;
}

.name {
  display: flex;
  align-items: center;

  span {
    font-size: 26px;
    padding: 3px 0 0 15px;
  }

  svg {
    fill: $black;
  }
}

.cartClear {
  display: flex;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 0.65;
  }

  &:active {
    opacity: 0.8;
  }

  span {
    padding-left: 5px;
    font-size: 16px;
  }
}

.cartBottom {
  margin-top: 32px;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.total {
  font-size: 21px;
  font-weight: 500;

  b {
    font-size: 23px;
    color: $red;
  }
}

.totalPrice {
  font-size: 18px;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: space-between;

  button {
    width: 210px;
    height: 50px;

    border-radius: 30px;
    font-size: 16px;
  }
}

.returnBtn {
  background-color: #fff;
  color: #ccc;
  border: 1px solid #ccc;
}

.payBtn {
  background-color: $red;
  border: 1px solid $red;
  color: #fff;
}
