@import '../../scss/variables';

.container {
  display: flex;

  @media (max-width: 1020px) {
    flex-direction: column;
  }
}

.contentMain {
  width: 100%;
  margin-left: 50px;

  @media (max-width: 1020px) {
    margin-left: 0;
  }
}

.contentTitle {
  display: block;
  padding: 5px 0 10px 20px;
  font-size: 23px;
  font-weight: 500;
}

.contentItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 10px;
  padding-bottom: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1020px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.someClass {
  background-color: red;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 45px;
}

.filtersBtn {
  display: none;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1020px) {
    display: flex;
  }

  span {
    padding-left: 5px;
    font-size: 16px;
  }

  line,
  circle {
    stroke: $black;
  }
}

.backToLink {
  margin-left: 50px;
  font-size: 18px;
  font-weight: 300;
  color: scale-color($black, $lightness: 40%);
  cursor: pointer;

  &:hover {
    color: scale-color($black, $lightness: 60%);
  }
}

.pagination {
  flex-basis: 100%;
}
