@import '../../scss/variables';

.title {
  padding: 15px 0 20px;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 34px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 400px;
    height: 400px;

    @media (max-width: 780px) {
      margin-bottom: 30px;
    }

    @media (max-width: 870px) {
      width: 320px;
      height: 320px;
    }
  }

  @media (max-width: 1080px) {
    flex-wrap: wrap;
  }
}

.details {
  width: 300px;

  @media (max-width: 1200px) {
    width: 250px;
  }

  @media (max-width: 1080px) {
    order: 3;
    flex-basis: 70%;
    margin-top: 40px;
    margin-left: 70px;

    @media (max-width: 780px) {
      align-self: flex-start;
      width: 100%;
      margin-left: 0;
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.ratingBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 29px;
  min-width: 55px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #f4f4f4;
  color: #666;

  svg {
    path {
      fill: #666;
    }
  }
}

.heartIcon {
  margin-left: 25px;
  fill: transparent;
  stroke: #c4c4c4;
  stroke-width: 1.5;

  &:hover {
    path {
      stroke: $red;
    }
  }

  &.active {
    path {
      fill: $red;
      stroke: $red;
    }
  }
}

.rows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.category {
  display: flex;
  flex-direction: row;
  width: 50%;
  color: lighten($color: #000000, $amount: 60%);
}

.buy {
  width: 380px;
  min-height: 100px;
  padding: 25px;
  border-radius: 24px;
  background-color: #f4f4f4;

  @media (max-width: 780px) {
    width: 100%;
  }

  button {
    text-align: center;
  }
}

.value {
  width: 50%;
}

.price {
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 500;
  color: $red;
  text-align: center;
}

.methods {
  padding-top: 20px;
  font-size: 18px;

  li {
    display: flex;
  }

  i {
    font-style: normal;
    color: $red;
    text-decoration: underline;
  }
}

.backToLink {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 300;
  color: scale-color($black, $lightness: 40%);
  cursor: pointer;

  &:hover {
    color: scale-color($black, $lightness: 60%);
  }
}

.content:has(.notLoaded) {
  width: 100vw;
  height: 100vh;
}
.notLoaded {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -50vh;
  margin-bottom: -50vh;
  visibility: visible;
  opacity: 1;
  background: url(../../assets/img/loading.gif) center / 200px no-repeat;
}
