@import '../../scss/variables';
@import '../../scss/normalize';

.mainFooter {
  min-width: 100vw;
  max-width: 100%;
  margin-top: 50px;
  margin-left: 50%;
  background-color: #28282a;
  transform: translate(-50%);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 10%;

    width: 70%;
    height: 100px;
    margin: 0 auto;
  }

  .item {
    width: 50%;
    text-align: center;

    span,
    a {
      font-size: 16px;
      color: #fff;
    }
  }
}

.mobileFooter {
  display: none;
  padding: 2px 50px;

  @media (max-width: 780px) {
    position: sticky;
    bottom: 0;
    z-index: 10;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 250px;
    width: 100vw;
    min-width: 215px;

    box-shadow: 0 4px 54px 0 scale-color($red, $alpha: -80%);
    background-color: #fff;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    min-width: 215px;

    @media (max-width: 780px) {
      display: none;
    }
  }

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    @include noselect();

    &:hover {
      color: $red;

      svg.login {
        fill: $red;
      }

      svg.wishlist {
        stroke: $red;
      }

      svg.cart {
        fill: $red;
      }
    }

    svg.login {
      fill: $black;
      transition: all 0.1s ease-in-out;
    }

    svg.wishlist {
      fill: #fff;
      stroke: $black;
      stroke-width: 1.2;
      transition: all 0.1s ease-in-out;
    }

    svg.cart {
      fill: $black;
      transition: all 0.1s ease-in-out;
    }

    .image {
      position: relative;
      width: 30px;
      height: 30px;
    }

    span {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.count {
  position: absolute;
  top: 0;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: $red;
  border-radius: 50%;
  color: #fff;
}
