@import '../../scss/variables';
@import '../../scss/normalize';

.search {
  position: relative;
  display: flex;
  align-items: center;
  @include noselect();

  .searchBar {
    width: 100%;
    height: 47px;
    padding: 10px 40px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
  }

  .searchIcon {
    position: absolute;
    left: 10px;
    width: 25px;
    opacity: 0.2;

    &:hover {
      opacity: 0.4;
      cursor: pointer;
    }
  }

  .closeIcon {
    position: absolute;
    right: 10px;
    width: 30px;
    opacity: 0.2;

    &:hover {
      opacity: 0.4;
      cursor: pointer;
    }
  }
}
