@import '../../scss/variables';
@import '../../scss/normalize';

html:has(.filters.active) {
  overflow-y: hidden;
}

.filters {
  .container {
    min-width: 243px;

    :first-child {
      .filterPopup {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  @media (max-width: 1020px) {
    display: none;
  }

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 0 30px;
    overflow-y: auto;

    background-color: #fff;

    .closeIconBlock {
      display: flex;
      justify-content: end;
      width: 100%;
      height: 50px;
    }

    svg {
      z-index: 600;
      display: block;
      margin-right: -15px;
      fill: red;
    }
  }
}

.horizontalSlider {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.exampleThumb {
  position: absolute;
  z-index: 100;
  display: block;
}

.exampleThumb.active {
  background-color: grey;
}

.exampleTrack {
  position: relative;
  background: #ddd;
}

.exampleTrack.exampleTrack-0 {
  background: #83a9ff;
}

.horizontalSlider .exampleTrack {
  top: 20px;
  height: 4px;
}

.horizontalSlider .exampleThumb {
  width: 10px;
  height: 10px;
}

.slider :global {
  .MuiSlider-rail {
    color: $red;
  }

  .MuiSlider-track :global {
    width: 20px;
    color: $red;
  }

  .MuiSlider-thumb :global {
    color: $red;
  }

  .MuiSlider-thumb.Mui-active,
  .MuiSlider-thumb.Mui-focusVisible,
  .MuiSlider-thumb:hover {
    box-shadow: none;
  }

  .MuiSlider-valueLabel {
    display: none;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 5px;

  @media (max-width: 1020px) {
    justify-content: center;
  }
}

.inputPrice {
  @media (max-width: 1020px) {
    padding-right: 30px;
  }

  span {
    padding-right: 5px;
  }

  input {
    width: 70px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.filter {
  width: 100%;
  border-bottom: 1px solid #ccc;
  @include noselect();
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  cursor: pointer;

  &.active {
    border-bottom: 0;

    & {
      .toggleIcon {
        transform: rotate(-45deg);
      }
    }
  }
}

.toggleIcon {
  content: '';
  display: block;
  margin-top: 3px;
  width: 7px;
  height: 7px;
  border: solid black;
  border-width: 1px 1px 0 0;
  transform: rotate(135deg);
}

.title {
  align-items: center;
}

.filterPopup {
  max-height: 200px;
  padding: 7px 10px 0;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 3px;
    min-height: 34px;
  }

  &::-webkit-scrollbar-thumb {
    min-height: 34px;
    border-radius: 5px;
    background: #b2b2b2;
  }

  li {
    position: relative;
    margin-bottom: 5px;
    padding: 5px 0 5px 40px;
    text-align: left;
  }

  label {
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
    }

    &:before {
      left: 0;
      width: 24px;
      height: 24px;
      margin: -12px 0 0;
      background: #f7f7f7;
      box-shadow: 0 0 1px grey;
    }

    &:after {
      left: 6px;
      width: 12px;
      height: 12px;
      margin: -6px 0 0;
      opacity: 0;
      background: $red;
      transform: translate3d(-40px, 0, 0) scale(0.5);
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }

    &.active {
      &:after {
        color: red;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    &.absent {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  input[type='radio'],
  input[type='checkbox'] {
    display: none;
  }

  label:has(input[type='checkbox']:checked, input[type='radio']:checked) {
    &::after {
      color: red;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.btnReset {
  display: block;
  width: 100%;
  margin: 10px auto 0;
  height: 40px;
  background-color: #fff;
  border: 1px solid $red;
  border-radius: 10px;
  font-size: 16px;
  color: $red;
  cursor: pointer;
}
