@import 'variables';
@import 'normalize';

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  overflow: visible;
}

.content {
  height: auto;
}

.wrapper {
  position: relative;
  width: calc(100vw - 80px);
  height: 100%;
  max-width: 1154px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;

  @media (max-width: 760px) {
    width: calc(100vw - 40px);
  }
}
