@import '../../scss/variables';
@import '../../scss/normalize';

.sort {
  position: relative;
  @include noselect();

  &.active {
    .toggleIcon {
      transform: rotate(-45deg);
    }
  }
}

.name {
  display: flex;
  align-items: center;
  cursor: pointer;

  b {
    padding-left: 10px;
  }

  span {
    padding-left: 6px;
    color: $red;

    &:hover {
      color: scale-color($color: $red, $lightness: -15%);
    }
  }

  @media (max-width: 500px) {
    i,
    b {
      display: none;
    }

    span {
      padding-left: 45px;
    }
  }
}

.toggleIcon {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border: solid black;
  border-width: 1px 1px 0 0;
  transform: rotate(135deg);
}

.sortPopup {
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 1;
  width: 160px;
  padding: 4px 0;
  border: 1px solid #ccc;
  border-radius: 5%;
  background-color: #fff;

  li {
    padding: 4px 0 4px 10px;

    &:hover,
    &.active {
      background-color: scale-color($red, $lightness: 90%);
    }
  }
}
